/* src/ImageSlider.css */
.imageSlider {
  width: 100%;
  margin: auto;
  text-align: center;
  .imageBox {
    position: relative;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    .texts {
      position: absolute;
      color: #ffffff;
      font-size: var(--slider-fs);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      text-align: center;
      width: 100%;
      height: 653px;
      .complement,
      .button {
        font-size: calc(var(--slider-fs) * (60 / 100));
      }
      .button {
        background-color: rgb(64, 192, 203);
        border-radius: 30px;
        padding: 14px 30px;
      }
    }
  }
}
.imageSlider .slick-dots {
  bottom: -30px;
}

.imageSlider img {
  aspect-ratio: 1920 / 1282;
  max-width: 100%;
  height: auto;
  margin: auto;
}

@media (width <= 440px) {
  .imageSlider {
    .imageBox {
      .texts {
        --slider-fs: 28px;
        .complement,
        .button {
          --slider-fs: 28px;
          font-size: calc(var(--slider-fs) * (60 / 100));
        }
      }
    }
  }
}
