/* src/ImageSlider.css */
.imageSlider {
  width: 80%;
  margin: auto;
  text-align: center;
  .imageBox {
    position: relative;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    .titles {
      position: absolute;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 653px;
    }
  }
}
.imageSlider .slick-dots {
  bottom: -30px;
}

.imageSlider img {
  max-width: 100%;
  height: auto;
  margin: auto;
}
