.container {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    flex: 2;
    .img {
      aspect-ratio: 448 / 154;
      width: 150px;
    }
  }
  .navbar {
    flex: 8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  .button {
    flex: 2;
  }

  .hamburgerMenu {
    display: none;
  }
  .open {
    display: block;
  }
  .closed {
    display: none;
  }
  .link {
    text-decoration: none;
    color: #000000;
  }
}

@media (width <= 440px) {
  .container {
    .navbar,
    .button {
      display: none;
    }
    .hamburgerMenu {
      --padding-top-bottom: 20px;
      background: rgba(255, 255, 255, 1);
      padding: var(--padding-top-bottom) 30px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: end;
      position: absolute;
      right: 0px;
      top: calc(var(--padding-top-bottom) / 2);
    }
    .hMButton {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
    .open {
      padding-top: 15px;
      display: flex;
      flex-direction: column;
    }
  }
}
