.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    flex: 2;
    .img {
      aspect-ratio: 448 / 154;
      width: 150px;
    }
  }
  .navbar {
    flex: 8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    .link {
      text-decoration: none;
    }
  }
  .button {
    flex: 2;
  }

  .hamburgerMenu {
    display: none;
  }
  .open {
    display: block;
  }
  .closed {
    display: none;
  }
}

@media (width <= 440px) {
  .container {
    .navbar,
    .button {
      display: none;
    }
    .hamburgerMenu {
      background: rgba(255, 255, 255, 1);
      padding: 20px 30px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      right: 0px;
    }
    .hMButton {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
    .hMBox {
      padding-top: 15px;
    }
  }
}
